*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/avaCar
/app/phone
/app/syuScreensaver
/app/syuWidgetMusic
/app/teyesOnline
/app/vasylTitles